@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$color-blue: #052C65;
$color-light-blue: #0D6EFD;
$color-white: #FFFFFF;
$color-gray: #6C757D;

// MIXINS
@mixin filter-btn-active {
  background-color: $color-gray;
  color: $color-white !important;
}

@mixin layout-btn-active {
  background-color: $color-light-blue;
  color: $color-white;
}

@mixin font-roboto-400 {
  font-family: "Roboto", serif;
  font-weight: 400 !important;
  font-style: normal;
}

* {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

// AUTH
.container-auth {
  height: 100vh;

  .form {
    .form-title {
      color: $color-blue;
    }

    .remember-me {
      @include font-roboto-400;
    }

    .account {
      @include font-roboto-400;

      .account-link {
        @include font-roboto-400;
        display: inline-block;
      }

      @media screen and (min-width: 320px) {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

// LAYOUT
.main-sidebar {
  max-width: 219px;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: $color-white;

  .nav {
    .btn {
      text-align: start;
      border: 0;
      font-size: 14px;
      width: 178px;
      padding: 9px 10px 8px 10px;
      font-weight: 300;
      color: $color-blue;

      &:hover {
        @include layout-btn-active;
      }

      &:focus {
        @include layout-btn-active;
      }

      &:first-child {
        &:active {
          @include layout-btn-active;
        }
      }

      .dropdown-toggle {
        &::after {
          content: none;
        }
      }

      .fa-chevron-right {
        transition: transform 0.3s;
        transform-origin: center;
      }

      .rotate {
        transform: rotate(90deg);
      }
    }
  }

  .balance-link {
    color: $color-blue !important;

    .balance-item {
      color: $color-light-blue;
    }
  }

  .dropdown {
    .dropdown-user {
      &::after {
        content: none;
      }

      .user-name-block {
        width: 219px;
        overflow: hidden;

        .user-name {
          color: $color-blue;
        }
      }
    }


    .dropdown-menu {
      padding: 0;
      margin-bottom: 15px;

      .dropdown-item {
        border-radius: 5px;

        &:hover {
          background-color: $color-light-blue;
          border-radius: 5px;
          color: $color-white;
        }
      }
    }
  }


  .vr {
    height: 100vh;
    left: 219px;
    position: absolute;
    display: inline-block;
    align-self: stretch;
    width: var(--bs-border-width);
    min-height: 1em;
    background-color: currentcolor;
    opacity: .25;
  }
}

// MODAL
.modal {
  .modal-header {
    border-bottom: none;
    color: $color-blue;
  }

  .modal-footer {
    border-top: none;
  }
}

// DASHBOARD
.content-wrapper {
  margin-left: 219px;

  .content-header {
    padding-left: 60px;
    color: $color-blue;
  }

  .content {
    padding-left: 60px;

    .filters {
      .btn {
        width: 100px;

        &:hover {
          @include filter-btn-active;
        }

        &:focus {
          @include filter-btn-active;
        }
      }
    }

    .schedule {
      .schedule-title {
        color: $color-blue;
      }

      .vr-schedule {
        height: 450px;
        margin-top: 50px;
        position: static;
        width: var(--bs-border-width);
        min-height: 1em;
        background-color: currentcolor;
        opacity: .25;
      }

      .chart {
        height: 450px;
        width: 450px;
      }
    }

    .filters-interval {
      .input-calendar {
        width: 100px;
        padding-left: 8px;
      }
    }
  }
}


