@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.container-auth {
  height: 100vh;
}

.content-wrapper {
  margin-left: 219px;
  .content-header {
    padding-left: 60px;
  }
  .content {
    padding-left: 60px;
  }
}

.sign-up {
  .sign-up-link {
    display: inline-block;
  }

  @media screen and (min-width: 320px) {
    font-size: 17px;
    text-align: center;
  }
}

.login {
  @media screen and (min-width: 320px) {
    font-size: 16px;
    text-align: center;
  }
}

.main-sidebar {
  max-width: 219px;
  height: 100vh;

  bottom: 0;
  float: none;
  left: 0;
  position: fixed;
  top: 0;

  .nav .btn {
    text-align: start;
    border: 0;
    font-size: 14px;
    width: 178px;
    padding: 9px 10px 8px 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #052C65;
  }

  .nav .btn:hover {
    background-color: #0d6efd;
    color: white;

    .nav .btn:focus {
      background-color: #0d6efd;
      color: white;
    }

    .nav .btn:first-child:active {
      background-color: #0d6efd;
      color: white;
    }

    .border-radius-bottom {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .btn-toggle-nav > li > a:hover {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}

.filters .btn {
  width: 100px;
}




.balance-link {
  color: #052C65;
}

.balance-item {
  color: #0D6EFD;
}

.dropdown-toggle::after {
  content: none;
}

.fa-chevron-right {
  transition: transform 0.3s;
  transform-origin: center;
}

.rotate {
  transform: rotate(90deg);
}

.vr {
  height: 100vh;
  left: 219px;
  position: absolute;
  display: inline-block;
  align-self: stretch;
  width: var(--bs-border-width);
  min-height: 1em;
  background-color: currentcolor;
  opacity: .25;
}

.dropdown-menu {
  padding: 0;
  margin-bottom: 15px;
}

.dropdown-item.btn {
  border-radius: 5px;
}

.dropdown-item.btn:hover {
  background-color: #0D6EFD;
  border-radius: 5px;
  color: white;
}
