<div class="container-sections">
    <section class="section roboto-bold ps-5 pt-5">
        <div class="title pb-5 pt-5">
            <h1>Главная</h1>
        </div>
        <div class="filters align-items-center pb-5">
            <button class="btn border border-secondary text-secondary">Сегодня</button>
            <button class="btn border border-secondary text-secondary">Неделя</button>
            <button class="btn border border-secondary text-secondary">Месяц</button>
            <button class="btn border border-secondary text-secondary">Год</button>
            <button class="btn border border-secondary text-secondary">Все</button>
            <button class="btn border border-secondary text-secondary">Интервал</button>
            <div class="filters-interval">
                <span class="pe-2">с</span> <a href="javascript:void(0);" class="pe-2 link-secondary">Дата</a> <span
                    class="pe-2">по</span> <a href="javascript:void(0);" class="pe-2  link-secondary">Дата</a>
            </div>
        </div>
        <div class="schedule pt-5 px-5">
            <div class="schedule income d-flex flex-column pe-5">
                <div class="schedule-title fs-3 text-center pb-3">Доходы</div>
                <!--            TEST IMAGE-->
                <img src="/images/Pie%20Legend.png" alt="TEST" width="437">
                <img src="/images/Group.png" alt="TEST" width="360" height="360">
            </div>
            <div class="vr-schedule ms-5 me-5"></div>
            <div class="schedule expenses d-flex flex-column ps-5">
                <div class="schedule-title fs-3 text-center pb-3">Расходы</div>
                <!--            TEST IMAGE-->
                <img src="/images/Pie%20Legend.png" alt="TEST" width="437">
                <img src="/images/Group.png" alt="TEST" width="360" height="360">
            </div>
        </div>
    </section>
</div>
