@import "common.css";

.container-sections {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.filters .btn:focus {
    background-color: #6C757D;
    color: white !important;
}

.schedule {
    display: flex;
    height: 467px;
}

.schedule-title {
    color: #290661;
}

.vr-schedule {
    height: 450px;
    margin-top: 50px;
    position: static;
    width: var(--bs-border-width);
    min-height: 1em;
    background-color: currentcolor;
    opacity: .25;
}