@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    color: #052C65;
}

.filters {
    display: flex;
    gap: 20px;
}

.filters .btn {
    width: 100px;
    height: 37px;
}

.layout {
    width: 25%;
    flex-shrink: 0;
}
.section {
    flex: 1;
    padding: 30px;
}

.filters .btn:hover {
    background-color: #6C757D;
    color: white !important;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-body {
    color: #290661;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.categories-title {
    color: #052C65;
}

.categories-block {
    width: 352px;
    height: 121px;
}

.createInput {
    width: 397px;
}

