@import "common.css";

.container-sections {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}


.table-header {
    border-top: 1px solid #DEE2E6;
}

.headline-number {
    width: 150px;
}

.table-icon-cell {
    width: 10px;
    cursor: pointer;
}

.btn-trash:active {
    border: transparent;
}

.income-green {
    color: green !important;
}

.expenses-red {
    color: red !important;
}