@import "common.css";

.categories {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.categories-title {
    color: #052C65;
}

.categories-block {
    width: 352px;
    height: 121px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-body {
    color: #290661;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}