@import "common.css";

.categories {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.categories-title {
    color: #052C65;
}

.categories-block {
    width: 352px;
    height: 121px;
}

.categories-block .btn {

}