@import "common.css";

.layout {
    max-width: 219px;
    height: 100vh;
}

.nav .btn {
    text-align: start;
    border: 0;
}

.vr {
    height: 100vh;
    left: 219px;
    position: absolute;
    display: inline-block;
    align-self: stretch;
    width: var(--bs-border-width);
    min-height: 1em;
    background-color: currentcolor;
    opacity: .25;
}

.nav .btn {
    font-size: 14px;
    width: 178px;
    padding: 9px 10px 8px 10px;
    font-family: Roboto-light, sans-serif;
}

.nav .btn:hover {
    background-color: #0d6efd;
    color: white;
}

.nav .btn:first-child:active {
    background-color: #0d6efd;
    color: white;
}

.balance-link {
    color: #052C65;
}

.balance-item {
 color: #0D6EFD;
}

.dropdown-toggle::after {
    content: none;
}

.fa-chevron-right {
    transition: transform 0.3s;
    transform-origin: center;
}

.rotate {
    transform: rotate(90deg);
}