@import "common.css";

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.form-title {
    color: #052C65;
    font-family: "Roboto-bold", sans-serif;
}

.form-control:focus {
    background-color: var(--bs-body-bg);
    outline: 0;
    box-shadow: none;
    border-color: #dee2e6;
}

.form-input {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.form {
    width: 397px;
}

.btn {
    width: 397px;
    box-sizing: border-box;
}

.input-group-text {
    background-color: #E9ECEF;
    width: 46px;
    justify-content: center;
}

